<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Odullu reklamlarin (Yandex Mobile Ads) ve Play Games bulut kaydinin
         calisabilmesi icin release build'de de gerekli. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="AstroFelyx: Galaxy Puzzle"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Flutter'in ilk acilis (splash) temasindan Flutter UI temasina
                 gecisini yonetmesi icin gerekli meta-data. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Flutter'in yeni (v2) Android embedding'ini kullandigini belirtir. -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Play Games Services uygulama kimligi. Play Console >
             "Play Games Services" bolumunden alacagin gercek App ID ile
             degistir; degistirmeden Play Games girisi CALISMAZ.
             bkz. README_PLAY_GAMES.md -->
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="317205084582" />
    </application>
</manifest>
